---
services:
  percona-mysql:
    image: percona:8
    ports:
      - "13306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: test
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

  postgres:
    image: postgres:18
    ports:
      - "15432:5432"
    environment:
      POSTGRES_PASSWORD: mig
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
